html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #ffffff;
  --secondarytext-color: #757575;
  --accent-text-color: #2196f3;
  --adress-text-color: rgba(255, 255, 255, 0.6);
  --logo-text-color: #000000;
  --primary-bg-color: #ffffff;
  --accent-bg-color: #2f303a;
  --btn-bg-color: #F5F4FA;
  --btn-hover-bg-color: #2196f3;
  --btn-order-bg-color: #2196f3;
  --btn-order-hover-bg-color: #188CE8;
  --teams-bg-color: #f5f4fa;
  --box-shadow-teams: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-applications: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

h1, h2, h3, p {
    margin: 0;
}

.section {
padding-top: 94px;
padding-bottom: 94px;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.button {
  cursor: pointer;
}

/* <page header> */

.page-header {
  max-width: 1600px;
  margin: auto;
    border: 1px solid #ECECEC;
}

.page-header__container, .page-header__nav {
    display: flex;
    align-items: center;
}

/* <header logo> */

.header-logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-text-color);
}

.header-logo__label {
  color: var(--logo-text-color);
}

/* <header link> */

.site-nav {
    display: flex;
    margin-left: 93px;
    /* font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em; */
}

/* .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
} */

.site-nav__item {
  position: relative;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-text-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.site-nav__link--active {
  color: var(--accent-text-color);
}

.site-nav__link--underline::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: #2196F3;
  border-radius: 2px;
}



/* .link-list .link-item:not(:last-child) {
    margin-right: 50px;
}

a.link-page.active-link {
  color: var(--accent-text-color);
}

a.active-link {
  position: relative;
}

a.link-page.active-link::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: #2196F3;
  border-radius: 2px;
}

.link-list .link-page {
  color: var(--primary-text-color);
}

.link-list .link-page:hover,
.link-list .link-page:focus {
  color: var(--accent-text-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
} */


/* <contacts> */

.page-header__contacts {
    margin-left: auto;
}

.contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
  
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* .contacts .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

} */

.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
    padding-top: 32px;
    padding-bottom: 32px;    
}

.contacts__mail {
  color: var(--secondarytext-color);
}

.contacts__mail:hover,
.contacts__mail:focus {
  color: var(--accent-text-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.contacts__tel {
  color: var(--secondarytext-color);
}
.contacts__tel:hover,
.contacts__tel:focus {
  color: var(--accent-text-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}





/* .contacts .mail {
  color: var(--secondarytext-color);
}
.contacts .mail:hover,
.contacts .mail:focus {
  color: var(--accent-text-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.contacts .tel {
  color: var(--secondarytext-color);
}
.contacts .tel:hover,
.contacts .tel:focus {
  color: var(--accent-text-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.link-item .contacts-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-item .contacts-icon {
  margin-right: 10px;
  fill: currentColor;
} */

/* <section order> */

.section-order {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
    text-align: center;
  background-color: var(--accent-bg-color);
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ), url(../images/order-bg.jpg);
  max-width: 1600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-order__lable {
    margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  text-transform: uppercase;    
}

.section-order__button {
    /* padding: 10px 32px; */
    /* display: inline-block; */
    display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 216px;
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: var(--btn-order-bg-color);
  color: var(--title-text-color);  
}

.section-order__button:hover,
.section-order__button:focus {
    background-color: var(--btn-order-hover-bg-color);
    transition-property: box-shadow, background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);    
}


/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  z-index: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  top: 50%;
  left: 50%;
transform: translate(-50%, -50%);
transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  min-width: 528px;
  min-height: 581px;
  
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-window .close-sing {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-bg-color);
}

.close-sing__icon { 
  fill: #000000;
}

.close-sing__icon:hover,
.close-sing__icon:focus {
  fill: var(--accent-text-color);
    transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.modal-title { 
  margin-bottom: 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form__label {
  display: inline-block;
  width: 100%;
  margin-bottom: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input--wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__input--wrapper input {
  margin-bottom: 0;
}

.modal-form__input {
  width: 100%;
  height: 40px;  
  
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0;
  padding: 10px;
  padding-left: 42px;
  color: #757575;
}

.modal-form__input:focus {
  outline: 0;
  border-color: #2196F3;
}

.modal-form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
}

.modal-form__input:focus + .modal-form__icon {
  fill: #2196F3;
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;  
  color: #757575;
}

.modal-form__textarea:focus {
  outline: 0;
  border-color: #2196F3;
}

.modal-form__textarea::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-line { 
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;  
}

.checkbox-agree {
  display: flex;
  align-items: center;

  font-family: inherit;
font-weight: 400;
font-size: 14px;
line-height: calc(24 / 14);
letter-spacing: 0.03em;

color: var(--secondarytext-color);
}

.checkbox-agree__icon--wrapper {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.checkbox-agree__icon {
  fill: transparent;
}

.check-line input:checked + .checkbox-agree .checkbox-agree__icon--wrapper {
  background-color: #2196F3;
  border: none;
}

.check-line input:checked + .checkbox-agree .checkbox-agree__icon {
  fill: #ffffff;
}

.checkbox-agree__link {
  margin-left: 5px;
  
  text-decoration: underline;
  color: var(--accent-text-color);
}

.modal-window__button--send {
  display: flex;
  justify-content: center;
}

.modal-window__button {
  display: inline-flex;
align-items: center;
justify-content: center;

min-width: 200px;
height: 50px;

font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
background-color: var(--btn-order-bg-color);
color: var(--title-text-color);  
}

.modal-window__button:hover,
.modal-window__button:focus {
    background-color: var(--btn-order-hover-bg-color);
    transition-property: box-shadow, background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);  
}



/* <section skills> */

.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skills-list__item {
    width: 270px;
    margin-right: 30px;
}

.skills-list__item:last-child {
    margin-right: 0;
}

.skills-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
border-radius: 4px;
}

.skills-list__lable {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.skills-list__text{
  line-height: 1.71;
  color: var(--secondarytext-color);
}

/* <section product> */

.section-product{
    padding-bottom: 94px
}

.section-product__title {
    margin-bottom: 50px;   
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.product {
display: flex;
flex-wrap: wrap;
gap: 30px;
}
.product__description {
  position: absolute;
  top: 224px;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
line-height: calc(16 / 14);
text-transform: uppercase;

color: var(--title-text-color);
  background-color: rgba(47, 48, 58, 0.8);;
}

.product__item {
  position: relative;
    flex-basis: calc((100% - 60px) / 3 );
}


/* <section team> */

.section-team {
  background-color: var(--teams-bg-color);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.section-team__lable {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.16;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* margin-right: -30px;  */
    /* calc( -1 * var) */
}

.team-list__members {
    flex-basis: calc((100% - 90px) / 4);
    /* margin-right: 30px; */
    text-align: center;
    background-color: var(--primary-bg-color);
  box-shadow: var(--box-shadow-teams);
border-radius: 0px 0px 4px 4px;
}

/* .teams-list .teams-members:last-child {
    margin-right: 0;
} */
/* це треба додавати? */

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
  /* background-color: var(--primary-bg-color); */
/* border-radius: 0px 0px 4px 4px; */
}

.team-description__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team-description__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondarytext-color);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-icons__item:last-child {
  margin-right: 0;
  }

.social-icons__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color:  #AFB1B8;
}

.social-icons__link:hover,
.social-icons__link:focus {
  color: var(--title-text-color);
    background-color: #2196F3;
    transition-property: color, background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.social-icons__icon {
  fill: currentColor;
}

/* section client */

.section-clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  margin-bottom: 50px;
}

.clients-icons {
  display: flex;
  justify-content: center;
}
.clients-icons__item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
  border: 1px solid #AFB1B8;
border-radius: 4px;
}

.clients-icons__item:last-child {
  margin-right: 0;
}

.clients-icons__item:hover,
.clients-icons__item:focus {
  border: 1px solid #2196F3;
  transition-property: border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.clients-icons__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:  #AFB1B8;
}

.clients-icons__link:hover,
.clients-icons__link:focus {
  color: #2196F3;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.clients-icons__icon {
  fill: currentColor;
}


/* <page footer> */

.page-footer {
  background-color: var(--accent-bg-color);
  padding: 60px 0;
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
    gap: 70px;
    align-items: baseline;
    justify-content: space-between;
}

.page-footer__logo {
    display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
.page-footer__logo--color {
  color: var(--title-text-color);
}

.adress__list {
    display: block;
  font-style: normal;
  line-height: 1.71;
}

.adress__item {
    margin-bottom: 9px;
}

.adress__item:last-child {
    margin-bottom: 0;
}

.adress__link {
  color: var(--title-text-color);
}

.adress__link:hover,
.adress__link:focus {
  color: var(--accent-text-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.adress__mail {
  color: var(--adress-text-color);
}

.adress__mail:hover,
.adress__mail:focus {
  color: var(--accent-text-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.adress__tell {
  color: var(--adress-text-color);
}

.adress__tell:hover,
.adress__tell:focus {
  color: var(--accent-text-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.join-title {
  margin-bottom: 20px;
  font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
text-transform: uppercase;
color: var(--title-text-color);
}

.card-icons {
  display: flex;
  justify-content: center;
}

.card-icons__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.card-icons__item:last-child {
  margin-right: 0;
}

.card-icons__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--title-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.card-icons__link:hover,
.card-icons__link:focus {
    background-color: #2196F3;
    transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.card-icons__icon {
  fill: currentColor;
}


.subscribe__title {
  display: inline-block;
  margin-bottom: 20px;

  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #FFFFFF;
}

.form-footer {
  display: flex;
align-items: flex-end;

}

.form-footer input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
}

.form-footer__input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
  margin: 0;
  padding: 16px;
  color: #757575;
  background-color: transparent;
  
}

.form-footer__input:focus {
  outline: 0;
  border-color: #2196F3;
}

.subscribe__button {
  display: inline-flex;
align-items: center;
justify-content: center;

min-width: 200px;
height: 50px;

font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;


box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
background-color: var(--btn-order-bg-color);
color: var(--title-text-color);  
}

.subscribe__button:hover,
.subscribe__button:focus {
    background-color: var(--btn-order-hover-bg-color);
    transition-property: box-shadow, background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);  
}

.subscribe__button--send {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  margin-left: 10px;

  fill: var(--primary-bg-color);
}





/* <section-portfolio> */

.applications {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.applications__item:not(:first-child) {
margin-left: 8px;
}

.applications__button {
    display: inline-block;
    padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: none;
  background-color: var(--btn-bg-color);
}

.applications__button:hover,
.applications__button:focus {
  background-color: var(--btn-hover-bg-color);
  color: var(--title-text-color);
  box-shadow: var(--box-shadow-applications);
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

/* card set */

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
    /* margin-right: -30px; 
    margin-bottom: -30px; */
    /* calc( -1 * var) */ 
}

.card-set__item { 
    flex-basis: calc((100% - 60px) / 3);
    cursor: pointer;
    /* margin-right: 30px;
    margin-bottom: 30px; */
}

.card-set__link {
  display: block;
}

.card-set__link:hover,
.card-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}



.card-set .img-wrapper {
  position: relative;
  overflow: hidden;
}

.item-description {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  padding: 24px;

  font-family: inherit;
  font-size: 18px;
line-height: calc(28 / 18);

color: var(--title-text-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.card-set__item:hover .item-description {
  transform: translateY(0);
}

.item-content {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.item-content__description {
    margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.item-content__subdivision {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondarytext-color);
}
